# System files related to the development environment
shelf/
httpRequests/
dataSources/
dataSources.local.xml
workspace.xml

# Ignore files related to IntelliJ IDEA (if using IntelliJ)
.idea/
*.iml

# Pytest cache files
.pytest_cache/

# Allure test report results
allure-report/
allure-results/

# Environment variable files
.env

# PDM system file used for the current Python version
.pdm-python

# Local dependencies and generated test data
venv/
.venv
